<!-- Herencia de plantilla padre -->

{% extends 'base/base.html' %}

<!-- Título de la página -->

{% block page_title %}

CF — Borrar calabozo

{% endblock %}

<!-- Mensaje del sistema -->

{% block system_msg %}

{{msg|safe}}

{% endblock system_msg %}

<!-- Título de la sección -->

{% block title %}
Borrar calabozo
{% endblock %}

<!-- Contenido principal de la página -->
{% block content %}
    {% if not check %}
        <div  id="form" class="container d-flex flex-column align-items-center border border-black border-2 text-center txtWhite w-50 my-5 h-50 py-4">
            <h2 class="title txtWhite txtXl my-4">¿Está seguro/a de que desea borrar el calabozo <span class="fw-bold text-warning">"{{calabozo}}"</span>?</h2>
            <p class="txtMd my-4">Este cambio es irreversible.</p>
            <form method="POST" class="container d-flex gap-4">
                {% csrf_token %}
                <button type="submit" name="confirm" value="yes" class="btn btn-outline-dark my-4 txtWhite txtXl border-2 w-75">Sí</button>
                <button type="submit" name="confirm" value="no" class="btn btn-outline-dark my-4 txtWhite txtXl border-2 w-75">No</button>
            </form>        
        </div>
    {% else %}
        <div class="container d-flex flex-column align-items-center bg-dark text-center txtWhite w-50 my-5 h-50 py-4">
            <h2 class="title txtWhite txtXl my-4"><span class="fw-bold text-warning">{{calabozo}}</span> ha sido borrado.</h2>
            <p class="txtMd my-4">Pero los bardos seguirán cantando sobre este lugar.</p>
        </div>    
    {% endif %}
{% endblock %}