<!-- Herencia de plantilla padre -->

{% extends 'base/base.html' %}

<!-- Título de la página -->

{% block page_title %}

CF — Calabozos

{% endblock %}

<!-- Mensaje del sistema -->

{% block system_msg %}

{{msg|safe}}

{% endblock system_msg %}

<!-- Título de la sección -->

{% block title %}
Calabozos
{% endblock %}

<!-- Contenido principal de la página -->

{% block content %}
<div class="container d-flex flex flex-column justify-content-center align-items-center">
{% if request.user.is_authenticated and request.user.player.dungeon_master %}    
    <a href="{% url 'CrearCalabozo' %}" class="w-25">
        <button type="button" class="btn btn-outline-dark my-4 txtXl border-2 create">Crear nuevo calabozo</button>
    </a>
{% endif %}
    <form class="d-flex" role="search" method="GET" action="{% url 'Calabozos' %}">
        <input name="search" class="form-control me-2 txtMd" type="search" placeholder="Buscar calabozo" aria-label="Search">
        <button class="btn btn-outline-success txtMd create btn-outline-dark text-nowrap" type="submit">Buscar calabozo</button>
        <button class="btn btn-outline-success txtMd create btn-outline-dark text-nowrap mx-4" type="submit" name="search" value="">Limpiar búsqueda</button>
    </form>  
    <table class="txtMd table table-dark table-hover table-bordered my-4">
        <tr>
            <th class="p-1 txtLg title text-center align-middle">Nombre</th>
            <th class="p-1 txtLg title text-center align-middle">Dificultad</th>
            <th class="p-1 txtLg title text-center align-middle">Pisos</th>
            <th class="p-1 txtLg title text-center align-middle">Experiencia</th>
            <th class="p-1 txtLg title text-center align-middle">Oro</th>
            {% if request.user.is_authenticated and request.user.player.dungeon_master %}
            <th class="p-1 txtLg title text-center align-middle">Acción</th>           
            {% endif %}
        </tr>
        {% for dungeon in dungeons %}
        <tr>
            <td class="text-center align-middle">{{dungeon.name}}</td>
            <td class="text-center align-middle">{{dungeon.difficulty}}</td>
            <td class="text-center align-middle">{{dungeon.floors}}</td>
            <td class="text-center align-middle">{{dungeon.exp}}</td>
            <td class="text-center align-middle">{{dungeon.gold}}</td>
            {% if request.user.is_authenticated and request.user.player.dungeon_master %}
            <td class="text-center text-danger">
                <a href="{% url 'BorrarCalabozo' dungeon_id=dungeon.id %}" aria-current="page">
                    <button class="btn txtWhite txtMd">Eliminar</button>
                </a>
            </td>                   
            {% endif %}            
        </tr>    
        {% endfor %}
    </table>
</div>
{% endblock %}